@{
    ViewBag.Title = "About Us";
}

<style>
    body 
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-image: url('../../Content/images/bgImage_flipped.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<br />
<div class="row">
    <div class="col-md-6 col-sm-12" style="background-color: white; text-align: justify;">
        <h2 style="color: darkblue">@ViewBag.Title.</h2>
        <br />
        <h4>Infinity is a unique concept of Computer Hardware Store. It is first of the many stores which the Infinite Corporation will be opening all over the country.</h4>
        <h4>Infinity features latest and wide variety of computing equipment on sales of multinational and national brands from both commercial and consumer product lines that includes Desktops, Laptops, Workstations, Gaming series etc.</h4>
        <h4>Infinity offers an exceptional customer service experience with its experienced staff and latest technology which offer value to your money.</h4>
        <h4>Goodwill, brand loyalty, financial strength, coverage, state of the art infrastructure and marketing, sales and technical assistance differentiates Infinity Corporation from other IT organizations in the country.</h4>
    </div>
</div>