@{
    ViewBag.Title = "Contact Us";
}

<h2 style="color: darkblue">@ViewBag.Title.</h2>
<br />

<style>
    body
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-image: url('../Content/images/bgImage_flipped.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<address style="font-size: 15px">
    852-B Milaad St<br />
    Block B Faisal Town<br />
    Lahore, Punjab 54000<br />
    <abbr title="Phone">Phone Number:</abbr>
    (042) 111 128 128
</address>

<address style="font-size: 15px">
    <strong>Support: </strong><a href="mailto:infiniteSupport@gmail.com">infiniteSupport@gmail.com</a><br />
    <strong>Marketing: </strong><a href="mailto:infiniteMarketing@gmail.com">infiniteMarketing@gmail.com</a>
</address>