@{
    ViewBag.Title = "FAQs";
}

<style>
    body {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-image: url('../../Content/images/BGContent.jpg');
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div class="container" style="text-align: justify;">
    <h2 style="color: darkblue;">Frequently Asked Questions</h2>
    <br />
    <label>What are the Infinity store customer service hours?</label>
    <p>Normal business hours are Monday – Friday 8AM – 6PM PKT.</p>
    <label>What is my order status?</label>
    <p>You can view your order status by looking up your order.</p>
    <label>What payment methods can I use?</label>
    <p>We only accept cash on delivery.</p>
    <label>How will you know where and how to send my product?</label>
    <p>If you order a product, a Checkout page will appear where you can enter a shipping address and choose a shipping method.</p>
    <label>How do I start a new order?</label>
    <p>Because our site uses cookies, you may see some items in your cart that you no longer want.</p>
    <label>What is your Shipping Policy?</label>
    <p>
        Shipping times are estimated in business days. Ground = 3-7 business days, Priority = 1-2 business days.
        Weekend deliveries are not available.
        Ground shipping is not available to all locations.
        We cannot ship to PO Boxes, or APO/FPO.
        Whole unit shipments (Desktops, Laptops, Two In Ones, Gaming Laptops and Workstations) will require a signature for delivery.
    </p>
    <label>Has my order shipped?</label>
    <p>It may take 1-2 business days to process an order.</p>
    <label>Do you ship to my country?</label>
    <p>Orders placed on this site can only be shipped within Pakistan.</p>
    <label>How do I get technical support for my product?</label>
    <p>For assistance with Infinity products, please email us at the given email address on the Contact page.</p>
    <label>What are the Infinity store customer service hours?</label>
    <p>Normal business hours are Monday – Friday 8am – 6pm PKT.</p>
</div>